@import "tailwindcss";
@import "./theme.css";

:root {
  --gradient-primary: linear-gradient(to bottom, #ff6f61, #ff1f09);
}

img {
  display: block;
  object-fit: cover;
}

.btn-gradient {
  background-image: var(--gradient-primary);
  color: white;
  border-radius: 8px;
  font-weight: 600;
  transition: opacity 0.2s;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.btn-border {
  background-color: white;
  color: var(--color-primary);
  border-radius: 8px;
  border: 2px solid var(--color-primary);
  font-weight: 600;
  transition: background 0.2s;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.btn-border:hover {
  background-color: var(--color-primary);
  color: white;
}

.btn-gradient:hover {
  opacity: 0.8;
}

body {
  @apply bg-white text-text font-sans;
}
