@theme {
  /* Colors */
  --color-primary: #003366;
  --color-secondary: #ff6f61;
  --color-background: #ffffff;
  --color-light-blue: #e5f2ff;
  --color-text: #121416;
  --color-confirm: #00662e;
  --color-dark-orange: #ff1f09;

  /* Fonts */
  --font-sans: "Lato", sans-serif;
  --font-display: "Montserrat", sans-serif;
  --shadow-base: 0px 16px 32px -4px rgba(0, 0, 0, 0.5);
}
